body{
    background-color: lightgray;
}

.pictvd{
    display: inline;
    position: relative;
}

.ptvd{
    display: inline;
    position: absolute;
    background-color: lightslategrey;
}

table{
    width: 300px;
    height: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}